body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:burlywood;
}

canvas{
    border: 1px solid black;
}
.head{
    font-size: larger;
    font-weight: 600;
    color: orangered;
    padding: 10px;
}
h1{
    color: green;
    font-weight: bolder;
    margin:0;
    margin-top: 10px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.score{
    font-size: xx-large;
    font-weight: bolder;
}

.keys{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.up{
    cursor: pointer;
    position: relative;
    bottom: 29px;
}
.Down{
    position: relative;
    top:29px;
    cursor: pointer;
    right: 25px;
}
.right{
    position: relative;
    left: -25px;
    cursor: pointer;
}
.Left{
    cursor: pointer;
}
